/*字体图标*/

@font-face {
	font-family:wjsfont;
	src: url('../font/MiFie-Web-Font.eot') format('embedded-opentype'), 
		 url('../font/MiFie-Web-Font.svg') format('svg'), 
		 url('../font/MiFie-Web-Font.ttf') format('truetype'), 
		 url('../font/MiFie-Web-Font.woff') format('woff');
}

[class^="icon-"],
[class=" icon-"]{
	font-family: wjsfont;
	/*font-family: wjsfont;*/
	display: inline-block;
	font-size: 16px;
	text-align: center;
	color: #000;
}
.icon-logo::before{
	content: "\e93e";
}
.icon-icon::before{
	content: "\e920";
}
.icon-uniE907::before{
	content: "\e907";
}
.icon-uniE908::before{
	content: "\e908";
}
.icon-uniE909::before{
	content: "\e909";
}
.icon-uniE903::before{
	content: "\e903";
}
.icon-uniE901::before{
	content: "\e901";
}
.icon-uniE904::before{
	content: "\e904";
}
.icon-uniE900::before{
	content: "\e900";
}
.icon-uniE902::before{
	content: "\e902";
}
.icon-uniE906::before{
	content: "\e906";
}
.icon-uniE905::before{
	content: "\e905";
}
.icon-uniE989::before{
	content: "\e989";
}
.icon-uniE925::before{
	content: "\e926";
}
.icon-uniE926::before{
	content: "\e927";
}
.icon-uniE927::before{
	content: "\e926";
}
.icon-uniE928::before{
	content: "\e927";
}
.icon-uniE915::before{
	content: "\e915";
}
.icon-uniE90e::before{
	content: "\e90e";
}
.icon-uniE90f::before{
	content: "\e90f";
}
.icon-uniE910::before{
	content: "\e910";
}
.icon-uniE911::before{
	content: "\e911";
}
.icon-uniE946::before{
	content: "\e946";
}
.icon-uniE92f::before{
	content: "\e92f";
}
.icon-uniE92e::before{
	content: "\e92e";
}
.icon-uniE92a::before{
	content: "\e92a";
}
.icon-uniE929::before{
	content: "\e929";
}
.icon-uniE931::before{
	content: "\e931";
}
.icon-uniE92c::before{
	content: "\e92c";
}
.icon-uniE92b::before{
	content: "\e92b";
}
.icon-uniE91a::before{
	content: "\e91a";
}
.icon-uniE91c::before{
	content: "\e91c";
}
.icon-uniE91b::before{
	content: "\e91b";
}
.icon-uniE93b::before{
	content: "\e93b";
}
.icon-uniE938::before{
	content: "\e938";
}
.icon-uniE939::before{
	content: "\e939";
}
.icon-uniE93c::before{
	content: "\e93c";
}
.icon-uniE93a::before{
	content: "\e93a";
}
.icon-uniE93d::before{
	content: "\e93d";
}
.icon-uniE948::before{
	content: "\e948";
}
.icon-uniE987::before{
	content: "\e987";
}
.icon-uniE90b::before{
	content: "\e90b";
}
.icon-uniE0c::before{
	content: "\e90c";
}
.icon-uniE930::before{
	content: "\e930";
}
.icon-uniE92d::before{
	content: "\e92d";
}